.clock-background {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  transition: background-color 300ms;
  max-width: 100lvw;
  max-height: 100lvh;
  overflow: hidden;

  canvas {
    display: block;
  }

  &[data-edit-mode="true"] {
    canvas {
      background-color: #ffffff33;
    }
  }
}

.clock-resizable-wrapper {
  position: relative;
  height: 100%;
  max-width: 100lvw;
  max-height: 100lvh;
  overflow: hidden;
}

.clock-settings {
  background-color: var(--surface);
  color: var(--on-surface);
  position: absolute;
  bottom: 0;
  right: 0;

  input[type="color"] {
    width: 64px;
    height: auto;
    aspect-ratio: 1;
  }
}

.clock-container, #clocks_container {
  width: 100%;
  max-width: 100lvw;
  max-height: 100lvh;
  transition: background-color 300ms;

  &[data-context="webapp"] {
    height: 100lvh;
  }
}
